*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }  
    h1 {
    font-weight: normal;
    }  
    li  {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    }
    li span
    {
    display: block;
    font-size: 4.5rem;
    }
    html, body
    {
    height: 100%;
    margin: 0;
    }
    body
    { 
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffd54f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: -apple-system, 
    BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
    }
    .container
    {
    color: #333;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
    }