*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background: #000;
    color: #fff;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height: 100vh;
}
.container{
    width: 500px;
    height: 250px;
    flex-direction: column;
}
.container h2{
    font-size: 5rem;
margin: 35px;
}
button{
    width: 150px;
    height: 40px;
    font-size: 1rem;
    color:#fff;
    background: #000;
    outline: none;
    border: none;
    cursor: pointer;
    background: #51a0bd;
}